#dificulty {
    text-align: center;
    justify-content: center;
    background-color: #ffffff05;
    border-radius: 10%;
    padding: 5%;
    max-width: 500px;
    height: 70vh;
  }
  
  #dificulty h2,
  #dificulty p {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
    
  #dificulty img {
    margin-top: 5rem;
    max-width: 10000px;
  }
  
  #dificulty button {
    margin: 1rem;
  }