  #gameover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    width: 50vw;
    height: 80vh;
  }

  #gameover h2,
  #gameover p,
  #gameover img {
    margin: 1.2rem;
    color: #000;
  }

  #gameover h2 {
    font-size: 3rem;
  }

  #gameover p {
    color: #000;
    font-weight: bold;
  }

  #gameover img {
    max-width: 10rem;
  }

  #gameover p.pontuacao{
    color: #07d600;
    font-size: 3rem;
    font-weight: bold;
  }

  #gameover span.questoes{
    color: #018fd7;
  }

  #gameover span.respostas{
    color: #07d600;
  }

  #gameover p.complete{
    font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {

    #gameover {
      width: 80vw;
      height: 90vh;
    }

    #gameover h2,
    #gameover p,
    #gameover img {
      margin: 1rem;
    }

    #gameover h2 {
      font-size: 2rem;
    }
  
    #gameover p.pontuacao{
      font-size: 2.5rem;
    }

    #gameover p.complete{
      font-size: 1rem;
    }

    #gameover button{
      font-size: 0.8rem;

    }

   
}
.custom-link {
   font-family: 'Arial', sans-serif;
   color: #018fd7;
   text-decoration:none;
 }

