#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #393b3300;
    border-radius: 10px;
    width: 50vw;
    height: 80vh;
}

#home h2,
#home p,
#home img,
#home input,
#home button{
    color: #fff;
    margin: 1rem;
}

#home h2 {
    font-size: 2.5rem;
}

#home p {
    font-size: 2rem;
    
}

#home input  {
    padding: 0.5rem;
    width: 70%;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff47;
}

#home p.text{
    font-size: 1.2rem;
}

#home p.bv{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #home h2,
    #home p,
    #home img,
    #home input{
        margin: 0.5rem;
    }

    #home {
        width: 80vw;
        height: 90vh;
    }

    #home h2 {
        font-size: 2rem;
    }

    #home p {
        font-size: 1.5rem;
    }

    #home p.text{
        font-size: 1rem;
    }
    /* Adicionando um pouco de estilo básico para o rodapé */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer a {
    text-decoration: none;
    color: #007bff;
}
footer a:hover {
    text-decoration: underline;
}

}

@media screen and (max-width: 1366px) {
    #home h2,
    #home p,
    #home img,
    #home input,
    #home button{
        margin: 0.5rem;
    }
}