#home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff05;
    border-radius: 10%;
    padding: 5%;
    max-width: 500px;
    height: 70vh;
}

#home h2,
#home p {
    color: #fff;

}

#home h2 {
    font-size: 3rem;
}

#home p {
    font-size: 2rem;
    padding-bottom: 5%;
}

#home img {
    padding: 10%;
}

#home input  {
    margin-bottom: 5%;
    padding: 10px;
    width: 70%;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff0a;
}

#home button{
    width: 90%;
}

#home p.text{
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    #home {
      width: 80%;
    }
  }