#question {
    background-color: #ffffff0a;
    border-radius: 1rem;
    padding: 2rem;
    width: 500px;
  }
  
  #question p {
    margin-bottom: 1rem;
  }

  #question p.text {
    color: #018fd7;
  }
  
  #question h2 {
    margin-bottom: 2rem;
  }
  
  #question button {
    border: 2px solid #fff;
    margin: 1rem;
  }