  #question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff05;
    border-radius: 10px;
    width: 50vw;
    height: 80vh;
  }

  #question p,
  #question h2,
  #question #options-container
  {
    margin: 1.2rem;
  }

  #question p.text {
    color: #018fd7;
  }


  #question button {
    border: 2px solid #fff;
    margin: 1rem;
  }

  @media screen and (max-width: 768px) {
    #question h2,
    #question p,
    #question img,
    #question input,
    #question #options-container{
        margin: 0.5rem;
    }

    #question {
        width: 80vw;
        height: 90vh;
    }

    #question h2.pergunta {
        font-size: 1rem;
    }

    #question p {
        font-size: 1rem;
    }
    

    #question button {
      margin: 0.2rem;
      font-size: 1rem;
    }
}